* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase; }

.container {
  margin: auto;
  width: 90%;
  height: 100%; }

html {
  scroll-behavior: smooth; }

body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "header" "main" "aside" "media" "store" "footer";
  background: #281c1e;
  background: -moz-linear-gradient(top, #281c1e 0%, #525252 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #281c1e), color-stop(100%, #525252));
  background: -webkit-linear-gradient(top, #281c1e 0%, #525252 100%);
  background: -o-linear-gradient(top, #281c1e 0%, #525252 100%);
  background: -ms-linear-gradient(top, #281c1e 0%, #525252 100%);
  background: linear-gradient(to bottom, #281c1e 0%, #525252 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281c1e', endColorstr='#525252', GradientType=0 ); }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.aside {
  grid-area: aside; }

.media {
  grid-area: media; }

.store {
  grid-area: store; }

.footer {
  background: #333;
  grid-area: footer; }

.header {
  background: url("../imagenes/background-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%; }

.flex-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%; }

.h1 {
  font-size: 0px; }

.logo {
  width: 60%; }

header nav {
  margin-top: 0; }

header nav ul {
  background: rgba(255, 255, 255, 0.3);
  margin: 10px auto auto auto;
  border-radius: 35px; }

header nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0.5rem;
  transition: all 0.3s; }

header nav ul li:hover {
  transform: scale(1.1); }

header nav ul li a {
  font-size: 14px;
  color: #EEE;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

header nav ul li a i {
  font-size: 12px;
  margin: 3px; }

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%; }

main h2 {
  margin: 20px 10px 5px 10px;
  font-size: 20px;
  color: #EEE;
  font-family: "Roboto", sans-serif; }

main ol {
  margin: 10px; }

main ol li {
  margin: 10px;
  color: #EEE;
  font-size: 16px; }

.shows-calendar {
  margin: 0 10px 0 0; }

.fechas {
  margin: 0 10px 0 0; }

.shows-tickets {
  margin: 0 3px 0 10px; }

.aside {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%; }

.flex-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%; }

.image {
  margin: 5px;
  transition: all 2s; }

.image:hover {
  transform: scale 1.1; }

.media-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #EEE; }

.store {
  background: #FFF; }

.flex-store {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.store-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #333; }

.store-products {
  text-align: center;
  vertical-align: center; }

.store-title {
  margin: 30px 0 0 20px;
  padding: 0 0 10px 0;
  display: inline-block; }

.products {
  width: 200px;
  margin: 10px 20px 30px 20px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s; }

.products:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.prod-title {
  font-weight: 500;
  font-size: 14px;
  margin: 5px;
  text-align: center; }

.prod-price {
  font-weight: 400;
  margin: 7px;
  text-align: center; }

.prod-button {
  text-align: center;
  height: 25px;
  width: 100px;
  background: red;
  border-radius: 20px;
  padding: 3px;
  margin: auto;
  transition: all 0.1s; }

.prod-button:hover {
  transform: scale(1.1);
  background: #ad0000; }

.prod-img {
  width: 100%;
  height: 100%; }

.flex-footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

#footer {
  background: #281c1e; }

.logo-footer {
  width: 80%;
  margin: 10px 30px; }

.nav-social {
  margin-left: 40px; }

.social-icons {
  margin: 3px;
  color: #FFF; }

.social-network {
  color: #FFF;
  font-size: 12px;
  flex-flow: row nowrap; }

.copyright {
  text-align: center;
  font-size: 10px;
  color: #EEE;
  padding: 7px; }

.bot-copyright {
  color: #111; }

@media screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas: "header header" "main aside" "media media" "store store" "footer footer";
    background: #281c1e;
    background: -moz-linear-gradient(top, #281c1e 0%, #525252 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #281c1e), color-stop(100%, #525252));
    background: -webkit-linear-gradient(top, #281c1e 0%, #525252 100%);
    background: -o-linear-gradient(top, #281c1e 0%, #525252 100%);
    background: -ms-linear-gradient(top, #281c1e 0%, #525252 100%);
    background: linear-gradient(to bottom, #281c1e 0%, #525252 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281c1e', endColorstr='#525252', GradientType=0 ); }
  .header {
    grid-area: header;
    height: 1000px; }
  header nav ul li a, header nav ul li a i {
    font-size: 1.3rem; }
  .main {
    grid-area: main; }
  .shows {
    position: relative;
    left: 40%;
    top: 100px; }
  .aside {
    grid-area: aside;
    margin: 20px; }
  .h2-heading {
    margin: 10px; }
  .spotify {
    position: relative;
    left: 40%; }
  .media {
    grid-area: media; }
  .media-title {
    margin: 10px; }
  .img-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  .store {
    grid-area: store; }
  .footer {
    background: #333;
    grid-area: footer; }
  .flex-footer {
    flex-direction: row;
    justify-content: space-between; } }
