$white: #EEE;
$black: #111;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

// TEXTS
$h1FontSize: 0px;
$h2Color: #EEE;
$h2FontSize: 20px;
$h3Color: #EEE;
$h3FontSize: 18px;
$h4Color: #EEE;
$h4FontSize: 16px;
$pColor: #EEE;
$pFontSize: 16px;
$copyrightColor: #EEE;
$copyrightFontSize: 10px;
$menuItemColor: #EEE;
$menuItemFontSize: 14px;
$menuItemFontWeigth: 600;
$storeColor:#333;


